@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap");

:root {
  --light: #f5f5f5;
  --accent: #111827;
  --gradient1: #064772;
  --gradient2: #0f52ba;
  --success: #32cd32;
  --font-main: "Edu SA Hand";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Login, Register page */
.auth-form {
  min-width: 80%;
  background-color: var(--light);
  padding: 1rem;
}

.auth-form form {
  display: flex;
  flex-direction: column;
}
