.btn {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5rem 0 .5rem 0;
}

.btn--primary {
  background: var(--success);
}

.btn--secondary {
  background: var(--accent);
}

.btn--ghost {
  background: transparent;
}

.btn--sm {
  padding: 6px 10px;
  font-size: .8rem;
}

.btn--md {
  padding: .5rem .8rem;
  font-size: 1rem;
}

.btn--lg {
  padding: .6rem .9rem;
  font-size: 1.2rem;
}