.btn {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.btn:hover {
  filter: brightness(90%);
}

.btn--primary {
  background: var(--darkgreen);
}

.btn--secondary {
  background: var(--accent);
}

.btn--feature {
  background: var(--purple);
}

.btn--delete {
  background: red;
}

.btn--ghost {
  background: transparent;
}

.btn--sm {
  padding: 6px 10px;
  font-size: 0.8rem;
}

.btn--md {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
}

.btn--lg {
  padding: 0.6rem 0.9rem;
  font-size: 1.2rem;
}
