.main-section-wrapper {
  flex: 1;
  background: var(--light);
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: scroll;
}

.main-section-wrapper h3 {
  margin-top: 1rem;
}

#exams-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
  overflow-y: scroll;
  max-height: 400px;
  padding-right: 2px;
}

#add-exam-button {
  background-color: var(--success);
}

#export-exams-button {
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  #exams-data {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  #exams-data {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Smaller scroll */
#exams-data::-webkit-scrollbar,
.main-section-wrapper::-webkit-scrollbar {
  width: 4px;
}

#exams-data::-webkit-scrollbar,
.main-section-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

#exams-data::-webkit-scrollbar,
.main-section-wrapper::-webkit-scrollbar-thumb {
  background: var(--light);
  border-radius: 999px;
}
