#sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    background: var(--accent);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#sidebar-wrapper.open {
  transform: translateX(0);
}
#sidebar-user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#sidebar-menu-button{
    color: var(--light);
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 1rem;
}

.sidebar-user-image {
    max-width: 60px;
    border-radius: 100%;
}

#sidebar-logo {
    max-width: 50%;
}

#sidebar-menu-close-button {
    position: absolute;
    top: 2rem;
    right: 0;
    font-size: 2.5rem;
    
}