.exam-card-wrapper {
  position: relative;
  background-color: var(--accent);
  color: var(--light);
  padding: 1rem;
  border-radius: 10px;
}

.exam-card-data h4 {
  font-size: 1.2rem;
}

.exam-card-options-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: var(--light);
  font-size: 1.1rem;
}
.exam-card-data-term-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.exam-card-data-term {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  border-radius: 100%;
}
.exam-card-data-term span {
  color: var(--accent);
}
